name: Tests

on:
    pull_request:
    push:
        branches:
        - master

jobs:
  build:
    name: CI
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        args:
        - "--resolver lts-23"
        - "--resolver lts-22 --stack-yaml stack-lts-22.yaml"
        - "--resolver lts-20 --stack-yaml stack-lts-22.yaml"
        - "--resolver lts-18 --stack-yaml stack-lts-22.yaml"
        - "--resolver lts-16 --stack-yaml stack-lts-22.yaml"
        exclude:
          # llvm too new on macos-latest for ghc 8
          - os: macos-latest
            args: "--resolver lts-18 --stack-yaml stack-lts-22.yaml"
          - os: macos-latest
            args: "--resolver lts-16 --stack-yaml stack-lts-22.yaml"

    steps:
      - name: Clone project
        uses: actions/checkout@v4

      - name: Cache Stack dependencies
        uses: actions/cache@v4
        with:
          path: ~/.stack
          key: stack-${{ runner.os }}-${{ matrix.args }}-${{ hashFiles('**/*.cabal', 'stack.yaml', 'stack-lts-22.yaml') }}
          restore-keys: |
            stack-${{ runner.os }}-${{ matrix.args }}-
            stack-${{ runner.os }}-

      - name: Remove Stack lock files
        shell: bash
        run: rm -rf ~/.stack/setup-exe-cache ~/.stack/pantry/pantry.sqlite3.pantry-write-lock

      - name: Install stack if needed
        shell: bash
        run: |
            set -ex
            if [[ "${{ matrix.os }}" == "macos-latest" ]]
            then
                # macos-latest does not include Haskell tools as of 2024-05-06.
              curl -sSL https://get.haskellstack.org/ | sh
            fi

      - name: Build and run tests
        shell: bash
        run: |
            set -ex
            stack --version
            stack test --fast --no-terminal ${{ matrix.args }}
